$bg-color: #353b48;
$text-color: #dcdde1;

.dashboard-container {
	padding: 100px 50px;
	.daily {
		color: $text-color;
		background-color: $bg-color;
		padding: 25px;
		margin: auto;
		width: 50%;
		border-radius: 10px;
		h4 {
			text-align: center;
		}
		.stats {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 20px;
			margin: auto;
			width: 70%;
			padding: 15px;
			p {
				height: 75px;
				width: 150px;
				background-color: #0097e6;
				border-radius: 8px;
				padding: 5px;
				text-align: center;
			}
		}
	}
	.workouts {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		margin: auto;
		padding: 75px;
		width: 75%;
	}
}
