.dashboard-container {
	padding: 100px 50px;
	.daily {
		color: #dcdde1;
		background-color: #353b48;
		padding: 15px;
		margin: auto;
		width: 50%;
		border-radius: 10px;
		h4 {
			text-align: center;
		}
	}
}
