@import 'Dashboard';

.plan-container {
	// background-color: $bg-color;
	// color: $text-color;
	border-radius: 10px;
	margin: auto;
	width: 75%;
	padding: 25px;
	height: 500px;
	h6 {
		text-align: center;
	}
	div.new_html_code {
		width: 550px;
		height: 100px;
		min-width: 150px;
		min-height: 100px;
		max-width: 200px;
		max-height: 100px;
		overflow: hidden;
		display: block;
	}
}
