@import 'Dashboard';

.plan-container {
	// background-color: $bg-color;
	// color: $text-color;
	// border-radius: 10px;
	margin: auto;
	width: 75%;
	padding: 25px;
	height: 500px;
	text-align: center;

	h6 {
		text-align: center;
	}

	#card {
		padding: 25px;
		border-radius: 10px;
	}
}
